---
import Navigation from '../components/navigation.astro'

---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog-page</title>
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 1rem;
        }

        .header {
            text-align: center;
        }

        .post-list {
            list-style: none;
            padding: 0;
        }

        .post-list li {
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <Navigation/>
        <header class="header">
            <h1>My Blog</h1>
            <p>Welcome to my blog. Here you will find all my blog posts.</p>
        </header>
        <main>
            <h2>Blog Posts</h2>
            <ul class="post-list">
                <Fragment>
                    <li>
                        <a href="/posts/post-1">post 1</a>
                        <a href="/posts/post-2">post 2</a>
                        <a href="/posts/post-3">post 3</a>
                    </li>
                </Fragment>
            </ul>
        </main>
    </div>
</body>
</html>